{{!-- Membership plan, free --}}
<div class="membership-plan free">

	<div class="membership-plan-header">
		<h3>{{t "Free"}}</h3>
		<small>{{@price.currency_symbol}}0</small>
	</div>

	{{!-- Adjust features list according to your needs --}}
	<div class="membership-plan-content">
		<ul>
			<li>Full access to posts for subscribers</li>
			<li>Weekly email newsletter</li>
			<li>No advertising</li>
		</ul>
	</div>

	<div class="membership-plan-footer">
		<a class="button inverse" href="{{@site.url}}/signup/">{{t "Subscribe Now"}}</a>
	</div>

</div><!-- .membership-plan -->
