{{!-- Section to display the members subscribe form --}}
<section class="subscribe-box inner">
	<h2 class="subscribe-box-title">{{t "Subscribe to {sitetitle}" sitetitle=@site.title}}</h2>
	<p>{{t "Subscribe today and get access to a private newsletter and new content every week!"}}</p>
	{{> "member-subscribe-form"}}
</section><!-- .subscribe-box -->
